<div data-order-id="<%= order.id %>"
     data-order-priority="<%= order.priority %>"
     data-dish-id="<%= order.dish.id %>"
     data-dish-name="<%= order.dish.name%>"
     data-dish-color="<%= order.dish.color %>"
     data-table-it="<%= order.table.id %>"
     style="background-color:<%= order.dish.color %>;">

  <div class="d-flex justify-content-between order-item">

    <%= order.dish.name %>

    <% if controller_name == "tables" %>
      <%= link_to "<i class='far fa-trash-alt'></i>".html_safe,
              table_order_path(table, order), class: "delete-order-btn", method: :delete, remote: true  %>
    <% end %>

  </div>
</div>

