<div class="kitchen-index--js row">
  <% @tables.each do |table| %>
  <div class="col-sm-6 col-lg-4">

    <div class="kitchen-card white-bg kitchen--js" data-table-id="<%= table.id %>">

      <div style="margin-top: -25px;" class="btn btn-outline-primary">
        <%= link_to table  do %>
          Table <%= table.table_number %>
        <% end %>
      </div>

      <ul id="table-<%= table.id %>" class="row">
        <%= render table.dishes %>
      </ul>

      <% if table.notes.present? %>
        <hr>
        <p style="opacity: .6;"><small><%= table.notes %></small></p>
      <% end %>

    </div>

  </div>
  <% end %>
</div>