<h2>EDIT TABLE <%= @table.table_number %></h2>

<%= simple_form_for @table do |f| %>
  <%= f.input :pax %>
  <%= f.input :notes %>
  <div class="text-right">
    <%= f.submit "->" %>
  </div>
<% end %>

<br><br>

<div style="display:flex;justify-content:space-between;">
  <% FoodOption.all.each do |option| %>
    <label class="category-select">
      <%= check_box_tag 'test', '1', false  %>
      <%= option.name %>
    </label>
  <% end %>
</div>