<div class="row">

<% if @tables.present? %>

  <% @tables.each do |table| %>

    <div class="col-sm-6 col-lg-4" style="border: 2px solid orange; padding:40px 20px;border-radius: 5px;">

      <div>
        <%= link_to (table.pax.zero? ? edit_table_path(table) : table), class: 'table-link' do %>
          <%= table.table_number %>
          <%= image_tag("dining-table.svg") %>
        <% end %>
      </div>

      <div id="table-<%= table.id %>" class="row">
        <%= render table.dishes %>
      </div>

    </div>

  <% end %> <!-- @tables.each -->

<% else %>

  <%= link_to "Add table!", new_table_path, class: "btn btn-success"  %>

<% end %>
</div>
