<div class="d-flex justify-content-between align-items-center">
  <div>
    <%= link_to "<i class='far fa-edit'></i>".html_safe, tables_path, class: "btn btn-warning"  %>
    <%= link_to "<i class='fas fa-utensils'></i>".html_safe, kitchens_path, class: "btn btn-primary"  %>
  </div>

  <h1>Table <%= @table.table_number %></h1>
</div>

<hr>

<div class="d-flex justify-content-between align-items-center">
  <h4>
    <%= link_to "<i class='fas fa-minus'></i>".html_safe, table_decrement_pax_path(@table), method: :patch, remote: true %>
    <i class="fas fa-users"></i> <%= @table.pax %>
    <%= link_to "<i class='fas fa-plus'></i>".html_safe, table_increment_pax_path(@table), method: :patch, remote: true %>
  </h4>

  <a tabindex="0" class="btn btn-outline-success" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Tot: £<%= @table.total_amount_cents.nil? ? 0 : @table.total_amount_cents/100 %>" data-content="<%= render partial: "popover_content", locals: { table: @table } %>"><i class="fas fa-euro-sign"></i></a>
  <%= link_to "<i class='fas fa-pencil-alt'></i>".html_safe, edit_table_path(@table), class: "btn btn-outline-warning" %>
</div>

<hr>

<div class="d-flex justify-content-around">
  <div class="col">
    <h4>Add Dish to Order:</h4>
    <%= simple_form_for [@table, Order.new], authenticity_token: true, remote: true do |f| %>
      <%= f.association :dish, as: :radio_buttons, label: "" %>
      <% f.hidden_field :table, value: @table %>
      <%= f.submit %>
    <% end %>
  </div>

  <ul id="show-table-<%= @table.id %>" class="col" style="padding:20px 40px;border: 2px solid lightblue">
    <% @table.orders.each do |order| %>
      <li>
        <div class="d-flex justify-content-between">
          <p><%= order.dish.name %></p>
          <p><%= link_to "<i class='far fa-trash-alt'></i>".html_safe, table_order_path(@table, order), method: :delete, remote: true  %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>