<div class="col-6 col-md-4">

  <div
    class="dish--js dish-item"
    style="background-color:<%= dish.color %>;"
    data-dish-id="<%= dish.id %>"
    data-dish-color="<%= dish.color %>">

    <%= dish.name.humanize %> <%= "<p>#{dish.price_cents} €</p>".html_safe if controller_name == "dishes" %>
  </div>

</div>