<h1>Dishes</h1>

<hr>

<%= simple_form_for @dish, validate: true  do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :price_cents %>

  <div id="radio_buttons_tag">
    <%= f.input :color, as: :radio_buttons, collection: CATEGORY_TAG %>
  </div>

  <%= f.submit %>
<% end %>

<hr>

<div class="row">
  <%= render @dishes %>
</div>